// TODO

.postList {

    display       : flex;
    flex-direction: column;
    margin-bottom : 4rem;
}

.loadMore {
    color      : var(--highlight);
    font-weight: bold;

    &.invisible {
        display: none;
    }

}