// TODO

.postList {

    display       : flex;
    flex-direction: column;
    margin-bottom : 4rem;
}

.loadMore {
    color      : var(--highlight);
    font-weight: bold;
    transition : 0.5s;

    &.invisible {
        visibility: hidden;
        opacity   : 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

}